<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sqlite3Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECF98CF11CCA04F3004CF792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF98D0A1CCA04F4004CF792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF98D151CCA04F4004CF792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
