<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqliteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54F4004D1CC4DEEF00C7251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54F400661CC4DEF100C7251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54F400711CC4DEF100C7251A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
